h1{
  font-family: arial;
  font-size: 50px;

}

body{
  background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-amber-orange-solid-color-background.jpg");
  text-align: center;
  font-size: 20px;
  font-family: Comic Sans MS;
  }
  .logo{
    text-align: left;
    position:absolute;top:0px;left:0px;
    opacity: 0.8;
    font-family: cursive;
  

  }
